h1, p{
    text-align: center;
}
li:hover {
    background-color: rgb(247, 185, 195);
}
li:active {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
div{
    list-style: none;
}